@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");
.App {
  text-align: center;
  width: 375px;
  height: 812px;
  background: #282828;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  outline: none;
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}

a {
  text-decoration: unset;
  color: inherit;
}

a:link,
a:visited {
  cursor: pointer;
}

body {
  font-family: "Source Sans Pro";
  height: 100vh;
}
